<div class="container">
  <div class="row">
    <div class="col">
      <div>
        {{ indice + 1 }}: {{ empleadoLista.nombre }}
        {{ empleadoLista.apellido }}
        {{ empleadoLista.cargo }}
        {{ empleadoLista.salario }}
      </div>
      <a [routerLink]="['/actualiza', indice]" [queryParams]="{ accion: '1' }">
        Actualiza
      </a>
      &nbsp;&nbsp;
      <a [routerLink]="['/actualiza', indice]" [queryParams]="{ accion: '2' }">
        ELimina
      </a>

      <ul style="list-style: none">
        <li *ngFor="let item of arrayCaracteristicas">{{ item }}</li>
      </ul>
      <app-caracteristicas-empleados
        (caracteristicasEmpleados)="agregarCaracteristica($event)"
      ></app-caracteristicas-empleados>
    </div>
  </div>
</div>
